<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/vueModal.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/jwplayerBackgroundStyle.css" rel="stylesheet" type="text/css" />

    <!-- data-main indicates to require.js that the very next script to be run is config.js -->
  <!--  <script data-main="assets/js/config.js" src="assets/js/vendors/require.js"></script> -->

    <!-- optimized version -->
    <script data-main="assets/js/main-build.js" src="assets/js/vendors/require.js"></script>



    <body>

        <script type="text/x-template" id="videobackground-template">
            <!-- jwplayer -->
            <div class="container-responsive">
                <div class="video-background-demo">
                    <div id="js-background-video-container" class="background-video-container">
                        <div id="js-background-video"></div>
                    </div>
                </div>
            </div>

        </script>

        <!-- template for the modal component -->
        <script type="text/x-template" id="modal-template">
            <transition name="modal">
                <div class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-container">
                            <!-- <form id="form" v-on:submit.prevent="addUser"> -->
                            <form id="form" v-on:submit.prevent="login">
                                <h3 slot="header">Login</h3>
                                <input type="email" v-model="newUser.email" placeholder="email@email.com">
                                <input type="password" v-model="newUser.name" placeholder="password">
                                <div class="button">
                                    <input type="submit" value="login">
                                </div>
                            </form>
                            <ul class="errors">
                                <li v-show="!validation.name">Name cannot be empty.</li>
                                <li v-show="!validation.email">Please provide a valid email address.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </transition>
        </script>

        <style>
            .top-buffer {
                margin-top: 20px;
            }
        </style>


        <script type="text/x-template" id="videowall-template">

            <!-- only seeing the overlapping when you use container-fluid class, but still jwplayers are not sized properly -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" id="wall-player-0"></iframe>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" id="wall-player-1"></iframe>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" id="wall-player-2"></iframe>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" id="wall-player-3"></iframe>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" id="wall-player-4"></iframe>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" id="wall-player-5"></iframe>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" id="wall-player-6"></iframe>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" id="wall-player-7"></iframe>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" id="wall-player-8"></iframe>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" id="wall-player-9"></iframe>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" id="wall-player-10"></iframe>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" id="wall-player-11"></iframe>
                        </div>
                    </div>

                </div>


            </div>

        </script>

        <script type="text/x-template" id="navbar-template">

            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                        <a class="navbar-brand" href="#">Videowall Demo</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">Link</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Link</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </script>



        <!-- app -->
        <div id="app">

            <!-- background video template -->
            <videobackground-div v-if="showVideoBackground"></videobackground-div>

            <!-- <button id="show-modal" @click="showModal = true">Show Modal</button> -->
            <!-- use the modal component, pass in the prop -->
            <!-- Conditionally render the element based on the truthy-ness of the expression value.  -->

            <!-- modal with login template -->
            <modal v-if="showModal" @close="showModal = false"></modal>

            <!--nav bar -->
            <navbar-div v-if="showNavBar"></navbar-div>

            <!-- video wall template -->
            <videowall-div v-if="showVideoWall" @close="showVideoWall = false"></videowall-div>


        </div>

    </body>

</html>
